/* === Global Body === */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url('assets/Bg.Nabawi.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #FFF8F8;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* === Container === */
.container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 2.08vh 0 1.04vh 0; /* 1.5rem dan 1rem */
  text-align: left;
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.content-wrapper {
  padding: 0 4.69vw; /* 3rem */
  box-sizing: border-box;
}

/* === Masjid Title === */
.masjid-name {
  font-size: 3em;
  font-weight: bold;
  color: #f6ddc8;
  margin-bottom: 3.28vh; /* 2.3rem */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding-left: 0.47vw; /* 0.3rem */
}

/* === Jadwal dan Waktu Container === */
.jadwal-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: -1.39vh;
  gap: 4.69vw;
}

/* === Jadwal Shalat === */
.jadwal-shalat {
  display: flex;
  flex-wrap: nowrap;
  gap: 2vw;
}

.jadwal-card {
  background: #f7f4df;
  padding: 0.50vh 0.60vw;
  border-radius: 0.73vw;
  width: 8.8vw;
  height: 20vh;
  font-weight: bold;
  text-align: center;
  box-shadow: 0.1vw 0.1vw 0.52vw rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.judul-shalat {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.52vw;
  font-size: 1.2rem;
  margin-bottom: 0.42vh;
  margin-top: 0.28vh;
}

.judul-shalat img {
  width: 2.10vw;
  height: 6vh;
  object-fit: contain;
  flex-shrink: 0;
}

.judul-shalat strong {
  font-size: 1.1rem;
  line-height: 1.2;
}

.jadwal-card hr {
  width: 110%;
  border: none;
  border-top: 0.18vh solid #a78989;
  margin: 0.14vh 0;
}

.jadwal-card span {
  font-size: 3.50vw;
  margin-top: 0.35vh;
}

/* === Card Colors === */
.jadwal-card:nth-child(1) {
  background: #DFD7C2;
  color: #354024;
}
.jadwal-card:nth-child(2) {
  background: #BAC4A7;
  color: #FFFCAC;
}
.jadwal-card:nth-child(3) {
  background: #B3B792;
  color: #FFFAFA;
}
.jadwal-card:nth-child(4) {
  background: #F5ECDE;
  color: #354024;
}
.jadwal-card:nth-child(5) {
  background: #95A386;
  color: #FEF0F0;
}

/* === Countdown Container === */
.waktu-menuju {
  background: #e8d6c1;
  border-radius: 0.47vw;
  text-align: center;
  box-shadow: 0 0 0.52vw rgba(0, 0, 0, 0.15);

  width: 29vw;
  height: 30vh;
  margin-top: -0.5vh;

  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

/* === Angka Countdown === */
.countdown-angka {
  font-size: 5.3rem;
  font-weight: 700;
  color: #2d3922;
  background-color: #e8d6c1;
  padding: 1.2vh 2vw 1vh;
  text-shadow: 0 0 1.11vh rgba(255, 255, 255, 0.5);
  margin-top: 2vh;
}

/* === Label (Menuju Ashar) === */
.countdown-label {
  background-color: #f7e6a7;
  color: #2d3922;
  font-weight: 600;
  padding: 1.6vh 0;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  border-bottom-left-radius: 0.47vw;
  border-bottom-right-radius: 0.47vw;
}


/* === Panel QRIS + Countdown === */
.right-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  margin-top: -10vh;
}

.qris-box {
  background: white;
  padding: 0.5vh 0.2vw;
  border-radius: 0.52vw;
  text-align: center;
  box-shadow: 0 0.21vh 0.63vh rgba(0, 0, 0, 0.3);
}

.qris-title {
  font-size: 2.3rem;
  font-weight: bold;
  color: black;
  margin-bottom: 0.5vh;
}

.qr-code {
  width: 28vw;
  height: 50vh;
  object-fit: contain;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  margin: 0;
}

/* === Quote Carousel === */
.quote {
  margin-top: -52vh;
  background-color: rgba(207, 187, 153, 0.75);
  padding: 3.7vh 4vw;
  border-radius: 0.42vw;
  font-size: 2rem;
  color: #354024;
  font-weight: 600;
  width: 63vw;
  height: 37vh;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#quote-carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.quote-item {
  min-width: 100%;
  text-align: center;
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
}

.quote-item.active {
  opacity: 1;
  position: relative;
}

.quote::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('assets/bling stars.png') repeat;
  opacity: 0.7;
  z-index: -1;
  border-radius: 0.63vw;
}

/* === Running Text / Slider === */
.slider-text {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: #889063;
  color: white;
  font-size: 2rem;
  padding: 1.5vh 0 2.5vh;
  line-height: 1.5rem;
}

.slider-text span {
  display: inline-block;
  padding-left: 100%;
  animation: slide 20s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
